In [1]:
import pandas as pd

In [2]:
import csv

In [3]:
import os

In [4]:
total_months = [] 
total_profits = [] 
profit_changes= []
monthly_changes=[] 
previous_value =0

In [5]:
df=pd.read_csv("BudgetData.csv")

In [6]:
df

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

# Total Number of Months

In [7]:
with open("BudgetData.csv") as csvfile:
    csvreader = csv.reader(csvfile, delimiter=',')
    
    csv_header = next(csvreader)
    
    for row in csvreader:
        total_months.append(row[0])
        total_profits.append(row[1])
    print(len(total_months))

86

# Net Total Amount

In [8]:
total_profits=[int(x) for x in total_profits] 
total_profits_sum=sum(total_profits) 
print (total_profits_sum)

38382578

In [9]:
Currency= "${:,.2f}".format(total_profits_sum)

In [10]:
print(Currency)

$38,382,578.00

# Average of The Change in P&L

In [11]:
average_monthly_change_list = []
previous_month_amount = 0
for x in range(len(total_profits)):
    if x == 0:
        previous_month_amount = total_profits[x]
    else:
        monthly_changes = total_profits[x] - previous_month_amount
        average_monthly_change_list.append(monthly_changes)
        previous_month_amount = total_profits[x]

length = len(average_monthly_change_list)
total = sum(average_monthly_change_list)
profit_loss_average = total / length
print(profit_loss_average)

-2315.1176470588234

In [12]:
Currency= "${:,.2f}".format(profit_loss_average)

In [13]:
print(Currency)

$-2,315.12

# Greatest Increase in Profits (Date & Amount)

In [14]:
month_greatest_increase = ''
amount_greatest_increase = 0
month_greatest_decrease = ''
amount_greatest_decrease = 0

for x in range(len(average_monthly_change_list)):
    if average_monthly_change_list[x] > amount_greatest_increase:
        amount_greatest_increase = average_monthly_change_list[x]
        month_greatest_increase = total_months[x+1]
    elif average_monthly_change_list[x] < amount_greatest_decrease:
        amount_greatest_decrease = average_monthly_change_list[x]
        month_greatest_decrease = total_months[x+1]

In [15]:
print(amount_greatest_increase,month_greatest_increase)

1926159 Feb-2012

In [16]:
Currency= "${:,.2f}".format(amount_greatest_increase)

In [17]:
print(Currency,month_greatest_increase)

$1,926,159.00 Feb-2012

# Greatest Decrease in Losses (Date & Amount)

In [18]:
print(amount_greatest_decrease,month_greatest_decrease)

-2196167 Sep-2013

In [19]:
Currency= "${:,.2f}".format(amount_greatest_decrease)

In [20]:
print(Currency,month_greatest_decrease)

$-2,196,167.00 Sep-2013

# Financial Analysis

In [21]:
print("Financial Analysis")
print("-------------------------------------------------------")
print(f"Total Months: {len(total_months)}")
print(f"Total: ${str(total_profits_sum)}")
print(f"Average Change: $" + str(profit_loss_average))
print(f"Greatest Increase in Profits: {month_greatest_increase} (${amount_greatest_increase})")
print(f"Greatest Decrease in Profits: {month_greatest_decrease} (${amount_greatest_decrease})")

Financial Analysis
-------------------------------------------------------
Total Months: 86
Total: $38382578
Average Change: $-2315.1176470588234
Greatest Increase in Profits: Feb-2012 ($1926159)
Greatest Decrease in Profits: Sep-2013 ($-2196167)